<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/source.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" charset="utf-8" src="js/jquery.js"></script>
  </head>

  <body>
    <div id="content">
      <h1><%= title %> Coverage Source Code</h1>

      <table class="source">
        <thead>
          <tr>
            <th>Line Number</th><th>Covered Lines</th><th>Source Code</th>
          </tr>
        </thead>
        <tbody>
          <%= for {nr, {source, count, anchor}} <- lines,
                do: source_line_template(nr, count, source, anchor) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
